h1{
    color: goldenrod;
    text-align: center;
    font-size: 50px;
}

p,#message-el{
    text-align: center;
    font-size: 20px;
    color: white;
}

*{
    background-color: green;
}

button{
    padding: 5px;
    display: block;
    margin: 5px auto;
    background-color:goldenrod ;
    font-weight: bold;
    color: green;
}